{% extends 'layout.html' %}
{% block title %} CaseShare | Features {% endblock %}
{% block body %}
    <div id="main-container" class="container bg-light m-5">
        <div class="row justify-content-center m-5">
            <div class="col-12 col-lg-6 form1">
                   <h1>Features</h1>
                   <p>These are the features CaseShare currently has and are still being implimented</p>
            </div>
        </div>
    </div>
    <h2>Available Feature(s)</h2>
    <div id="main-container" class="container bg-light m-5">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6 form1">
                   <h3>The Post Feature</h3>
                   <p>The post feature allows users to create and share content including text, pictures, videos. 
                    which foster engagment, engagment and convesation within the platform, facilitating
                    connections and content sharing.</p>
            </div>
        </div>
    </div>
    <h2>Coming Features</h2>
    <div id="main-container" class="container bg-light m-5">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6 form1">
                <h3>The Comment Feature</h3>
                <p>The comment feature in CaseShare will allow users to engage in discussions
                and provide feedback on posts shared by others. Users will be able to leave
                comments, and initiate threaded conversations. This feature will encourages 
                active participation, fosters community engagment and will facilitastes meaningful
                interactions between users within the platform.</p>
            </div>
        </div>
    </div>
    <div id="main-container" class="container bg-light m-5">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6 form1">
                <h3>The Like Feature</h3>
                <p>The like feature in CaseShare will enable users to express thier appreciation or
                support fot posts shared by othes. Users will simply click a like button associated with a 
                post to indicate thier posetive reaction without leaving a comment. This feature will promote
                user engagment, allows for quick feedback, and will helps users gauge the popularity or impact
                of their content.</p>
            </div>
        </div>
    </div>
    <div id="main-container" class="container bg-light m-5">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6 form1">
                <h3>The Direct message Feature</h3>
                <p>The direct message feature in CaseShare will allow users to have private
                convesations with each other. Users will be able send text messages, share
                media files and engage in one-on-one or group chats. This feature will facilitastes
                private communication, encourages deeper connections and enables users to share confidential
                information securely within the platform.</p>
            </div>
        </div>
    </div>
{% endblock %}