{% extends 'layout.html'%}
{% block title %} CaseShare | Home {% endblock %}
{% block body %}
    <script type="text/javascript">

	    function check_email() {
            var pattern = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
            var email = $("#email").val();
            if (pattern.test(email) && email !== "") {
                $("#email_error_message").hide();
                $("#email").css("border-bottom","2px solid #34F458");
            } else {
                $("#email_error_massage").html("Invalid Email");
                $("#email_error_massage").show();
                $("#email").css("border-bottom","2px solid #F90A0A");
                error_email = true;
            }
        }

	    function check_password() {
            var password_length = $("#password").val().length;
            if (password_length < 8) {
                $("#password_error_message").html("Atleast 8 Characters");
                $("#password_error_message").show();
                $("#password").css("border-bottom","2px solid #F90A0A");
                error_password = true;
            } else {
                $("#password_error_message").hide();
                $("#password").css("border-bottom","2px solid #34F458");
            }  
        }  
		
	    var error_email = false;
	    var error_password = false;

	    $(function() {
	    
	    $("#email_error_message").hide();
	    $("#password_error_message").hide();

	    $("#email").focusout(function() {
            check_email();
	    });
	    $("#password").focusout(function() {
            check_password();
	    });
	    
        $("#main-container").submit(function() {
	    error_email = false;
	    error_password = false;

	    check_email();
	    check_password();
	});
    });
    </script>
<div class="container my-5">
    <div class="row row-cols-1 row-cols-md-2 my-5">
        <div class="col">
            <h1 class="text-dark">Connect. Learn. Collaborate.</h1>
            <p class="lead">
                A tool for healthcare professionals to connect, 
                collaborate and learn from each other.
            </p>
            <button class="btn btn-outline-info"> Learn More</button>
        </div>
        <div class="col self-align-end">
            <div class="row justify-content-center">
                <div class="col col-12 col-lg-6">
                    <div class="card my-5">
                        <div class="p-3">
                        <h3>Sign In</h3>
                        <p>Welcome back!</p>
                        <form class="form formLogin">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" id="email" class="form-control" placeholder="abc@example.com">
                                <span class="error_form" id="email_error_message"></span>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" id="password" placeholder="*****" class="form-control">
                            </div>
                            <button type="submit" class="btn btn-info btn-sm mt-2">Login </a></button><div class="py-3"></div> 
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="my-4">
    <div class="container">
        <h2>Meet Our Team</h2>
        <div class="row row-cols-md-2">
            <div class="col col-md-6">
                <div class="justify-content-center">
                    <div class="card m-3">
                        <img src="../static/images/uwimana.JPG" class="card-img-top team1" alt="Uwimana Lowami">
                        <div class="card-body">
                            <h4 class="card-title">Uwimana Lowami</h4>
                            <h5 class="card-sub-title">ALX SE Cohort 9</h5>
                            <p class="card-text">
                                Uwimana is a talented Software Engineer with passion in Medical Software.
                                He is in his senior year at the University of Rwanda, persuing a Bachelor's Degree in Medical Imaging Sciences.
                                He is fascinated about medical technology. When he is not in the books, he likes to watch cycling and football.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-md-6">
                <div class="card m-3">
                    <img src="../static/images/mpho.jpeg" class="card-img-top team2" alt="Mpho Kekana">
                    <div class="card-body">
                        <h4 class="card-title">Mpho Kekana</h4>
                        <h5 class="card-subtitle">ALX SE Cohort 9</h5>
                        <p class="card-text">
                            Mpho is a talented Software Engineer who lives in Johannesburg, South Africa. A undergrownd record executive, producer,
                            producer, recording artist. He is interestend in publishing, artificial intelligence, data science.
                            He enjoy reading books watching mixed martial arts.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="my-4">
    <div class="container">
        <h2>Explore our Knowledge Hub</h2>
    </div>
</div>
{% endblock %}