{% extends 'layout.html'%}
{% block title %} CaseShare | Home {% endblock %}
{% block body %}
    <div class="container my-5">
        <div class="row row-cols-1 row-cols-md-2 my-2">
            <div class="col">
                <h1 class="text-dark">Connect. Learn. Collaborate.</h1>
                <p class="lead">
                    A tool for healthcare professionals to connect, collaborate and learn from each other.
                </p>
                <button class="btn btn-outline-info"> Learn More</button>
            </div>
            <div class="col self-align-end">
                <div class="row justify-content-center">
                    <div class="col col-12 col-lg-6">
                        <div class="card my-5">
                            <div class="p-3">
                                <h3>Sign In</h3>
                            <p>Welcome back!</p>
                            <form>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" id="email" class="form-control" placeholder="abc@example.com">
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" id="password" placeholder="*****" class="form-control">
                                </div>
                                <button class="btn btn-dark my-2 btn-sm"><strong>Log In</strong></button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-3">
        <h2>Meet Our Team</h2>
        <div class="row row-cols-md-2">
            <div class="col">
                <div class="row justify-content-center">
                    <div class="card m-3">
                        <img src="../static/images/uwimana.JPG" class="card-img-top team1" alt="Uwimana Lowami">
                        <div class="card-body">
                            <h4 class="card-title">Uwimana Lowami</h4>
                            <h5 class="card-sub-title">ALX SE Cohort 9</h5>
                            <p class="card-text">
                                Uwimana is a talented Software Engineer with passion in Medical Software.
                                He is in his senior year at the University of Rwanda, persuing a Bachelor's Degree in Medical Imaging Sciences.
                                He is fascinated about medical technology. When he is not in the books, he likes to watch cycling and football.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card col m-3">
                    <img src="../static/images/mpho.jpeg" class="card-img-top team2" alt="Mpho Kekana">
                    <div class="card-body">
                        <h4 class="card-title">Mpho Kekana</h4>
                        <h5 class="card-subtitle">ALX SE Cohort 9</h5>
                        <p class="card-text">
                            Mpho is a talented Software Engineer who lives in Johannesburg, South Africa.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-4">
        <h2>Explore our Knowledge Hub</h2>
    </div>
{% endblock %}