{% extends 'layout.html' %}
{% block title %} CaseShare | Log In {% endblock %}
{% block body %}
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script type="text/javascript">

	    function check_email() {
                var pattern = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
            	var email = $("#email").val();
            	if (pattern.test(email) && email !== "") {
                    $("#email_error_message").hide();
                    $("#email").css("border-bottom","2px solid #34F458");
                } else {
                    $("#email_error_massage").html("Invalid Email");
                    $("#email_error_massage").show();
                    $("#email").css("border-bottom","2px solid #F90A0A");
                    error_email = true;
                }
            }

	    function check_password() {
            	var password_length = $("#password").val().length;
            	if (password_length < 8) {
                    $("#password_error_message").html("Atleast 8 Characters");
                    $("#password_error_message").show();
                    $("#password").css("border-bottom","2px solid #F90A0A");
                    error_password = true;
                } else {
                    $("#password_error_message").hide();
                    $("#password").css("border-bottom","2px solid #34F458");
                }  
            }  
		
	    var error_email = false;
	    var error_password = false;

	    $(function() {
	    
	    $("#email_error_message").hide();
	    $("#password_error_message").hide();

	    $("#email").focusout(function() {
            	check_email();
	    });
	    $("#password").focusout(function() {
           	 check_password();
	    });
	    
            $("#main-container").submit(function() {
		    error_email = false;
		    error_password = false;

		    check_email();
		    check_password();
	    });
    });
	</script>
        <div id="main-container" class="container bg-light mt-5">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-6 form1">
                    <h3>Sign In</h3>
                    <p>Sign in  today for a better experience</p>
                    <form>
                        <div class="form-group py-2">
                            <label for="email">Email</label>
                            <input type="email" autofocus id="email" placeholder="Enter email" class="form-control">
			                <span class="error_form" id="email_error_message"></span>
                        </div>
                        <div class="form-group py-2">
                            <label for="password">Password</label>
                            <input type="password" id="password" placeholder="password" class="form-control">
			                <span class="error_form" id="password_error_message"></span>
                        </div>
                        <button type="button" class="btn btn-success"><a href="login">Login</a></button><div class="py-3"></div>
                    </form>
                </div>
            </div>
        </div>	
{% endblock %}