{% extends 'layout.html' %}
{% block title %} CaseShare | Log In {% endblock %}
{% block body %}
    <div id="main-container" class="container bg-light mt-5">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6 form1">
                <h3>Sign In</h3>
                <p>Sign in  today for a better experience</p>
                <form>
                    <div class="form-group py-2">
                        <label for="email">Email</label>
                        <input type="email" autofocus id="email" placeholder="Enter email" class="form-control">
                    </div>
                    <div class="form-group py-2">
                        <label for="password">Password</label>
                        <input type="password" id="password" placeholder="password" class="form-control">
                    </div>
                    <div class="py-3">
                        <button class="btn btn-sm btn-success">Sign In</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}