{% extends 'layout.html' %}
{% block title %} CaseShare | Log Out {% endblock %}
{% block body %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript"></script>
	<body>
		<div id="main-container" class="container bg-light mt-5">
	    	<div class="row justify-content-center">
				<div class="col-12 col-lg-6 form1">
		   			<h3>Sign out</h3>
		   			<p>Thank you, see you soon</p>
					   <button type="button" class="btn btn-success"><a href="/">Logout</a></button><div class="py-3"></div>         
					</div>
				</div>
	    	</div>
		</div>
	</body>
{% endblock %}