{% extends 'layout.html' %}
{% block title %} CaseShare | Register {% endblock %}
{% block body %}
<body>
    <script src="jquery.js"> </script>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="register.js"></script>
    <div id="main-container" class="container mt-5">
        <div class="row justify-content-center align-items-end">
            <div class="col-12 col-lg-6 form1">
                <h3>Create an Account for Free</h3>
                <p>Sign up today for a better experience</p>
                <form class="form" id="registerForm">
                    <div class="form-group py-2">
                        <label for="email">Email</label>
                        <input type="email" id="email" required placeholder="Enter email" class="form-control">
                        <span class="error_form" id="email_error_message"></span>
                    </div>
                    <div class="form-group py-2">
                        <label for="password">Password</label>
                        <input type="password" id="password" required placeholder="Create Password" class="form-control">
                        <span class="error_form" id="password_error_message"></span>
                    </div>
                    <div class="form-group py-2">
                        <label for="confirm_password">Confirm Password</label>
                        <input type="password" id="confirm_password" required placeholder="Confirm Password" class="form-control">
                        <span class="error_form" id="confirm_password_error_message"></span>
                    </div>
                    <div class="form-group py-2">
                        <label for="first_name">First Name</label>
                        <input type="text" required placeholder="First Name" id="first_name" class="form-control">
                        <span class="error_form" id="first_name_error_message"></span>
                    </div>
                    <div class="form-group py-2">
                        <label for="last_name">Last Name</label>
                        <input type="text" required placeholder="Last Name" id="last_name" class="form-control">
                        <span class="error_form" id="last_name_error_message"></span>
                    </div>
                    <div class="form-group py-2">
                        <label for="phone">Mobile Number</label>
                        <input type="text" required placeholder="+ (xxx) xxx xxx xxx" id="phone" class="form-control">
                        <span class="error_form" id="phone_error_message"></span>
                    </div>
                    <div class="form-group py-2">
                        <label for="hospital">Hospital</label>
                        <input type="text" placeholder="Ex: Radiographer at xyz Hospital" required id="hospital" class="form-control">
                        <span class="error_form" id="hospital"></span>
                    </div>
                    <div class="form-group py-2">
                        <label for="country">Country</label>
                        <input type="text" id="country" required placeholder='......' class="form-control">
                        <span class="error_form" id="country_error_message"></span>
                    </div>
                    <div class="form-group py-2">
                        <label for="age">Age</label>
                        <input type="number" id="age" required placeholder="0" class="form-control">
                        <span class="error_form" id="age_error_message"></span>
                    </div>
                    <input type="submit" class="btn btn-info btn-sm mt-2" value="Create Accunt" class="submit-btn" onclick="auth()" />
                </form>
            </div>
        </div> 
    </div>
    <script>
        function auth(){
            var email = document.getElementById("email").value;
            var password = document.getElementById("password").value;
            var confirm_password = document.getElementById("confirm_password").value;
            var first_name = document.getElementById("first_name").value;
            var last_name = document.getElementById("last_name").value;
            var phone = document.getElementById("phone").value;
            var hospital = document.getElementById("hospital").value;
            var country = document.getElementById("country").value;
            var age = document.getElementById("age").value;

            if (email== "mphokekana736@gmail.com" && password=="Baker24,." && confirm_password=="Baker24,." && first_name=="Mpho" && last_name=="Kekana" && phone=="0810853596" && hospital=="Barra" && country=="South Africa" && age=="1"){
                window.location.assign("login");
                alert("Login Successfully ");
            } else {
                alert("Invalid Information ");
                return;
            }
        }
    </script>
    <script type="text/javascript">
        $(function() {

            $("#email_error_message").hide();
            $("#password_error_message").hide();
            $("#confirm_password_error_message").hide();
            $("#first_name_error_message").hide();
            $("#last_name_error_message").hide();
            $("#phone_error_message").hide();
            $("#hospital_error_message").hide();
            $("#country_error_message").hide();
            $("#age_error_message").hide();
            
            var error_email = false;
            var error_password = false;
            var error_confirm_password = false;
            var error_first_name = false;
            var error_last_name = false;
            var error_phone = false;
            var error_hospital = false;
            var error_country = false;
            var error_age = false;

            $("#email").focusout(function() {
                check_email();
            });
            $("#password").focusout(function() {
                check_password();
            });
            $("#confirm_password").focusout(function() {
                check_confirm_password();
            });
            $("#first_name").focusout(function() {
                check_first_name();
            });
            $("#last_name").focusout(function() {
                check_last_name();
            });
            $("#phone").focusout(function() {
                check_phone();
            });
            $("#hospital").focusout(function() {
                check_hospital();
            });
            $("#country").focusout(function() {
                check_country();
            });
            $("#age").focusout(function() {
                check_age();
            });

            function check_email() {
                var pattern = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
                var email = $("#email").val();
                if (pattern.test(email) && email !== "") {
                    $("#email_error_message").hide();
                    $("#email").css("border-bottom","2px solid #34F458");
                } else {
                    $("#email_error_message").html("Invalid Email");
                    $("#email_error_message").show();
                    $("#email").css("border-bottom","2px solid #F90A0A");
                    error_email = true;
                }
            }

            function check_password() {
                var password_length = $("#password").val().length;
                if (password_length < 8) {
                    $("#password_error_message").html("Atleast 8 Characters");
                    $("#password_error_message").show();
                    $("#password").css("border-bottom","2px solid #F90A0A");
                    error_password = true;
                } else {
                    $("#password_error_message").hide();
                    $("#password").css("border-bottom","2px solid #34F458");
                }
            }

            function check_confirm_password() {
                var password = $("#password").val();
                var confirm_password = $("#confirm_password").val();
                if (password !== confirm_password) {
                    $("#confirm_password_error_message").html("Passwords Do Not Match");
                    $("#confirm_password_error_message").show();
                    $("#confirm_password").css("border-bottom","2px solid #F90A0A");
                    error_confirm_password = true;
                } else {
                    $("#confirm_password_error_message").hide();
                    $("#confirm_password").css("border-bottom","2px solid #34F458");
                }
            }

            function check_first_name() {
                var pattern = /^[a-zA-Z]*$/;
                var first_name = $("#first_name").val();
                if (pattern.test(first_name) && first_name !== "") {
	                $("#first_name_error_message").hide();
	                $("#first_name").css("border-bottom","2px solid #34F458");
                } else {
	                $("#first_name_error_message").html("Should contain only Characters");
	                $("#first_name_error_message").show();
	                $("#first_name").css("border-bottom","2px solid #F90A0A");
	                error_first_name = true;
                }
            }

            function check_last_name() {
                var pattern = /^[a-zA-Z]*$/;
                var last_name = $("#last_name").val();
                if (pattern.test(last_name) && last_name !== "") {
	                $("#last_name_error_message").hide();
	                $("#last_name").css("border-bottom","2px solid #34F458");
                } else {
	                $("#last_name_error_message").html("Should contain only Characters");
	                $("#last_name_error_message").show();
	                $("#last_name").css("border-bottom","2px solid #F90A0A");
	                error_last_name = true;
                }
            }

            function check_phone() {
                var phone_length = $("#phone").val().length;
                if (phone_length < 10 || phone_length > 10) {
                    $("#phone_error_message").html("Max 10 Characters");
                    $("#phone_error_message").show();
                    $("#phone").css("border-bottom","2px solid #F90A0A");
                    error_phone = true;
                } else {
                    $("#phone_error_message").hide();
                    $("#phone").css("border-bottom","2px solid #34F458");
                }
            }

            function check_hospital() {
	            var pattern = /^[a-zA-Z]*$/;
	            var hospital = $("#hospital").val();
	            if (pattern.test(hospital) && hospital !== "") {
		            $("#hospital_error_message").hide();
		            $("#hospital").css("border-bottom","2px solid #34F458");
	            } else {
		            $("#hospital_error_message").html("Should contain only Characters");
		            $("#hospital_error_message").show();
		            $("#hospital").css("border-bottom","2px solid #F90A0A");
		            error_hospital = true;
	            }
	        }
            
            function check_country() {
                var pattern = /^[a-zA-Z\s]*$/;
                var country = $("#country").val();
                if (pattern.test(country) && country !== "") {
	                $("#country_error_message").hide();
	                $("#country").css("border-bottom","2px solid #34F458");
                } else {
	                $("#country_error_message").html("Should contain only Characters");
	                $("#country_error_message").show();
	                $("#country").css("border-bottom","2px solid #F90A0A");
	                error_country = true;
                }
            }

            function check_age() {
                var age = $("#age").val().length;
                if (age_length < 2) {
                    $("#age_error_message").html("max 2 digits");
                    $("#age_error_message").show();
                    $("#age").css("border-bottom","2px solid #F90A0A");
                    error_age = true;
                } else {
                    $("#age_error_message").hide();
                    $("#age").css("border-bottom","2px solid #34F458");
                }
            }

            $("#registerForm").submit(function() {
                error_email = false;
                error_password = false;
                error_confirm_password = false;
                error_first_name = false;
                error_last_name = false;
                error_hospital = false;
                error_country = false;
                error_age = false;

                check_email();
                check_password();
                check_confirm_password();
                check_first_name();
                check_last_name();
                check_hospital();
                check_country();
                check_age();

                if (error_email === false && error_password === false && error_confirm_password === false && error_first_name === false &&
                    error_last_name === false && error_hospital === false && check_phone === false && check_country === false &&
                    error_age === false) {
                    alert("Registration Successfull");
                    return true;
                } else {
                    alert("Please Fill the form Correctly");
                    return false;
                }
            });
        });
    </script>
</body>
{% endblock %}
