{% extends 'layout.html' %}
{% block title %} CaseShare | Register {% endblock %}
{% block body %}
    <div id="main-container" class="container mt-5">
        <div class="row justify-content-center align-items-end">
            <div class="col-12 col-lg-6 form1">
                <h3>Create an Account for Free</h3>
                <p>Sign up today for a better experience</p>
                <form>
                    <div class="form-group py-2">
                        <label for="email">Email</label>
                        <input type="email" id="email" required placeholder="Enter email" class="form-control">
                    </div>
                    <div class="form-group py-2">
                        <label for="password">Password</label>
                        <input type="password" id="password" required placeholder="Create Password" class="form-control">
                    </div>
                    <div class="form-group py-2">
                        <label for="password">Confirm Password</label>
                        <input type="password" id="password" required placeholder="Password" class="form-control">
                    </div>
                    <div class="form-group py-2">
                        <label for="phone">Mobile Number</label>
                        <input type="number" placeholder="+ (xxx) xxx xxx xxx" id="phone" class="form-control">
                    </div>
                    <div class="form-group py-2">
                        <label for="title">Title</label>
                        <input type="text" placeholder="Ex: Radiographer at xyz Hospital" id="title" class="form-control">
                    </div>
                    <div class="py-3">
                        <button class="btn btn-sm btn-success">Create Account</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
